<div class="home-container">
  <div class="menu-container">
  <ul>
    <li><a href=#>Startseite</a></li>
    <li>Dienstleistungen
      <ul class="menu-items">
        <li><a href=#>Programmierung</a></li>
        <li><a href=#>Cloud</a></li>
        <li><a href=#>Beratung</a></li>
      </ul>
    </li>
    <li>Referenzen
      <ul class="menu-items">
        <li><a href=#>Programmierung</a></li>
        <li><a href=#>Cloud</a></li>
        <li><a href=#>Beratung</a></li>
      </ul>
    </li>
    <li><a href=#>Kontakt</a></li>
    </ul>
  </div>
</div>
