* {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  border-top: 1px solid #eeeedd;
  border-left: 1px solid #eeeedd;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  margin: 1px;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  color:  gray;
  background-color:  #f6f6ee;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid #eeeedd;
  border-right: 1px solid #eeeedd;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 1;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid #eeeedd;
  border-right: 1px solid #eeeedd;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
