<ul>
  <li><a href="#home">Startseite</a></li>
  <li class="dropdown">
    <a href="#" class="dropbtn">Angebot</a>
    <div class="dropdown-content">
      <a href="#">Porgrammierung</a>
      <a href="#">Cloud Dienstleistungen</a>
      <a href="#">Beratung</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" class="dropbtn">Unternehmen</a>
    <div class="dropdown-content">
        <a href="#">Firma</a>
      <a href="#">Mitarbeiter</a>
      <a href="#">Referenzen</a>
    </div>
  </li>
  <li><a href="#news">Kontakt</a></li>
</ul>
