.home-container {
  text-align: left;
  min-width: 600px;
  height: 600px;;
  min-height: 700px;
}

.menu-container
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  display: inline-block;
	top: 10px;
  left: 10px;
}

.menu-container ul
{
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
  padding: 0;
}

.menu-container ul a
{
  display :block;
	color: #000000;
	text-decoration: none;
	font-size: 15px;
  padding: 0 15px;
}

.menu-container ul li
{
	position: relative;
	float: left;
	margin: 0;
  padding: 5px;
}

ul li a:hover {

	color: blue;
}

.menu-container ul ul
{
	display: none;
	position: absolute;
	left: 0;
  padding: 0;
}

.menu-container ul ul li
{
	float: none;
	width: 200px
}

.menu-container ul li:hover > ul
{
  display: block;
}

.menu-items {
  background: white;
	border: 1px solid grey;
	box-shadow: 4px 3px #eaedf2;
	min-width: 50px;
	max-width: 160px;
}
